<a href="https://colab.research.google.com/github/blockmoo/Python/blob/main/DACON_%EC%A3%BC%EC%B0%A8%EC%88%98%EC%9A%94%EC%98%88%EC%B8%A1_%ED%8C%80%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **ë°ì´ì½˜**
[ë°°ê²½]

ì•„íŒŒíŠ¸ ë‹¨ì§€ ë‚´ í•„ìš”í•œ ì£¼ì°¨ëŒ€ìˆ˜ëŠ” â‘ ë²•ì •ì£¼ì°¨ëŒ€ìˆ˜ â‘¡ì¥ë˜ì£¼ì°¨ìˆ˜ìš” ì¤‘ í° ê°’ì— ë”°ë¼ ê²°ì •í•˜ê²Œë˜ì–´ ìˆì–´, ì •í™•í•œ â‘¡ì¥ë˜ì£¼ì°¨ìˆ˜ìš”ì˜ ì‚°ì •ì„ í•„ìš”ë¡œ í•©ë‹ˆë‹¤.  

í˜„ì¬ â‘¡ì¥ë˜ì£¼ì°¨ìˆ˜ìš”ëŠ” â€˜ì£¼ì°¨ì›ë‹¨ìœ„â€™ì™€ â€˜ê±´ì¶•ì—°ë©´ì â€™ì„ ê¸°ì´ˆë¡œí•˜ì—¬ ì‚°ì¶œë˜ê³  ìˆìœ¼ë©°, â€˜ì£¼ì°¨ì›ë‹¨ìœ„â€™ëŠ” ì‹ ê·œ ê±´ì¶•ì˜ˆì • ë¶€ì§€ ì¸ê·¼ì˜ ìœ ì‚¬ ë‹¨ì§€ë¥¼ í”¼í¬ ì‹œê°„ëŒ€ ë°©ë¬¸í•˜ì—¬ ì£¼ì°¨ëœ ì°¨ëŸ‰ëŒ€ìˆ˜ë¥¼ ì„¸ëŠ” ë°©ë²•ìœ¼ë¡œ ì¡°ì‚¬í•˜ê³  ìˆìŠµë‹ˆë‹¤.  

ì´ ê²½ìš° ì¸ë ¥ì¡°ì‚¬ë¡œ ì¸í•œ ì˜¤ì°¨ë°œìƒ, í˜„ì¥ì¡°ì‚¬ ì‹œì ê³¼ ì‹¤ì œ ê±´ì¶•ì‹œì ê³¼ì˜ ì‹œê°„ì°¨ ë“±ì˜ ë¬¸ì œë¡œ ê³¼ëŒ€ ë˜ëŠ” ê³¼ì†Œ ì‚°ì •ì˜ ê°€ëŠ¥ì„±ì„ ë°°ì œí•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤.  


[ì£¼ì œ]



ğŸ  ìœ í˜•ë³„ ì„ëŒ€ì£¼íƒ ì„¤ê³„ ì‹œ ë‹¨ì§€ ë‚´ ì ì • ğŸ…¿ï¸ ì£¼ì°¨ ìˆ˜ìš”ë¥¼ ì˜ˆì¸¡

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import os
os.chdir("/content/drive/MyDrive/á„ƒá…¦á„‹á…µá„á…©á†« á„Œá…®á„á…¡á„‰á…®á„‹á…­ á„‹á…¨á„á…³á†¨ AI á„€á…§á†¼á„Œá…µá†«á„ƒá…¢á„’á…¬")
os.getcwd()

Mounted at /content/drive

'/content/drive/MyDrive/á„ƒá…¦á„‹á…µá„á…©á†« á„Œá…®á„á…¡á„‰á…®á„‹á…­ á„‹á…¨á„á…³á†¨ AI á„€á…§á†¼á„Œá…µá†«á„ƒá…¢á„’á…¬'

In [2]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
from matplotlib import font_manager, rc
plt.rc('font', family='NanumBarunGothic')

In [3]:
age = pd.read_csv("age_gender_info.csv")
age.head(3)

      ì§€ì—­  10ëŒ€ë¯¸ë§Œ(ì—¬ì)  10ëŒ€ë¯¸ë§Œ(ë‚¨ì)  ...   90ëŒ€(ë‚¨ì)  100ëŒ€(ì—¬ì)  100ëŒ€(ë‚¨ì)
0   ê²½ìƒë¶ë„   0.030158   0.033195  ...  0.001553  0.000234  0.000014
1   ê²½ìƒë‚¨ë„   0.027400   0.026902  ...  0.001086  0.000179  0.000010
2  ëŒ€ì „ê´‘ì—­ì‹œ   0.028197   0.029092  ...  0.001740  0.000298  0.000066

[3 rows x 23 columns]

In [4]:
# ë¶ˆí•„ìš”í•œ ë°ì´í„° ì œê±° íŒŒì¼ : ë°ì´í„° ê³µì§€ ì°¸ê³ 
train2 = pd.read_csv("train2.csv", encoding='cp949')
test2 = pd.read_csv('test2.csv', encoding='cp949')
submission = pd.read_csv('sample_submission.csv')
train2.head(3)

    ë‹¨ì§€ì½”ë“œ  ì´ì„¸ëŒ€ìˆ˜ ì„ëŒ€ê±´ë¬¼êµ¬ë¶„  ... ë„ë³´ 10ë¶„ê±°ë¦¬ ë‚´ ë²„ìŠ¤ì •ë¥˜ì¥ ìˆ˜ ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜  ë“±ë¡ì°¨ëŸ‰ìˆ˜
0  C2515   545    ì•„íŒŒíŠ¸  ...                  3     624    205
1  C2515   545    ì•„íŒŒíŠ¸  ...                  3     624    205
2  C2515   545    ì•„íŒŒíŠ¸  ...                  3     624    205

[3 rows x 15 columns]

In [5]:
# ì§€í•˜ì² ì—­ ìˆ˜, ë²„ìŠ¤ì •ë¥˜ì¥ ìˆ˜ ì»¬ëŸ¼ëª…ì„ ì§€í•˜ì² , ë²„ìŠ¤ë¡œ ë³€ê²½
print(train2.columns)
train2.rename(columns = {'ë„ë³´ 10ë¶„ê±°ë¦¬ ë‚´ ì§€í•˜ì² ì—­ ìˆ˜(í™˜ìŠ¹ë…¸ì„  ìˆ˜ ë°˜ì˜)' : 'ì§€í•˜ì² ',"ë„ë³´ 10ë¶„ê±°ë¦¬ ë‚´ ë²„ìŠ¤ì •ë¥˜ì¥ ìˆ˜" : "ë²„ìŠ¤"}, inplace = True)
test2.rename(columns = {'ë„ë³´ 10ë¶„ê±°ë¦¬ ë‚´ ì§€í•˜ì² ì—­ ìˆ˜(í™˜ìŠ¹ë…¸ì„  ìˆ˜ ë°˜ì˜)' : 'ì§€í•˜ì² ',"ë„ë³´ 10ë¶„ê±°ë¦¬ ë‚´ ë²„ìŠ¤ì •ë¥˜ì¥ ìˆ˜" : "ë²„ìŠ¤"}, inplace = True)
print(train2.columns)

Index(['ë‹¨ì§€ì½”ë“œ', 'ì´ì„¸ëŒ€ìˆ˜', 'ì„ëŒ€ê±´ë¬¼êµ¬ë¶„', 'ì§€ì—­', 'ê³µê¸‰ìœ í˜•', 'ì „ìš©ë©´ì ', 'ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜', 'ê³µê°€ìˆ˜',
       'ìê²©ìœ í˜•', 'ì„ëŒ€ë³´ì¦ê¸ˆ', 'ì„ëŒ€ë£Œ', 'ë„ë³´ 10ë¶„ê±°ë¦¬ ë‚´ ì§€í•˜ì² ì—­ ìˆ˜(í™˜ìŠ¹ë…¸ì„  ìˆ˜ ë°˜ì˜)',
       'ë„ë³´ 10ë¶„ê±°ë¦¬ ë‚´ ë²„ìŠ¤ì •ë¥˜ì¥ ìˆ˜', 'ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜', 'ë“±ë¡ì°¨ëŸ‰ìˆ˜'],
      dtype='object')
Index(['ë‹¨ì§€ì½”ë“œ', 'ì´ì„¸ëŒ€ìˆ˜', 'ì„ëŒ€ê±´ë¬¼êµ¬ë¶„', 'ì§€ì—­', 'ê³µê¸‰ìœ í˜•', 'ì „ìš©ë©´ì ', 'ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜', 'ê³µê°€ìˆ˜',
       'ìê²©ìœ í˜•', 'ì„ëŒ€ë³´ì¦ê¸ˆ', 'ì„ëŒ€ë£Œ', 'ì§€í•˜ì² ', 'ë²„ìŠ¤', 'ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜', 'ë“±ë¡ì°¨ëŸ‰ìˆ˜'],
      dtype='object')

In [6]:
# ì§€í•˜ì²  ìˆ˜ NULLê°’ ì²˜ë¦¬: ëª¨ë‘ 0 (ì§ì ‘ ì‹¤ì œ ì•„íŒŒíŠ¸ì™€ ë¹„êµ)
train2.ì§€í•˜ì²  = train2.ì§€í•˜ì² .fillna(0)
train2.tail(3)

       ë‹¨ì§€ì½”ë“œ  ì´ì„¸ëŒ€ìˆ˜ ì„ëŒ€ê±´ë¬¼êµ¬ë¶„   ì§€ì—­  ê³µê¸‰ìœ í˜•  ...     ì„ëŒ€ë£Œ  ì§€í•˜ì²   ë²„ìŠ¤ ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜ ë“±ë¡ì°¨ëŸ‰ìˆ˜
2866  C2532   239    ì•„íŒŒíŠ¸  ê°•ì›ë„  êµ­ë¯¼ì„ëŒ€  ...  142310  0.0   1     166   146
2867  C2532   239    ì•„íŒŒíŠ¸  ê°•ì›ë„  êµ­ë¯¼ì„ëŒ€  ...  142310  0.0   1     166   146
2868  C2532   239    ì•„íŒŒíŠ¸  ê°•ì›ë„  êµ­ë¯¼ì„ëŒ€  ...  151030  0.0   1     166   146

[3 rows x 15 columns]

In [7]:
uni_all = train2.ë‹¨ì§€ì½”ë“œ.unique()  #uniqueí•œ ë‹¨ì§€ì½”ë“œë§Œ ì¶”ì¶œ
len(uni_all)

411

In [8]:
#ì‹¤ì§ˆì„¸ëŒ€ìˆ˜ ë³€ìˆ˜ ì¶”ê°€(ì´ ì„¸ëŒ€ìˆ˜ ì‚­ì œ ì•ˆí•¨, ì¶”í›„ ë¶ˆí•„ìš”í•  ì‹œ ì‚­ì œ)
train2 = train2.set_index('ë‹¨ì§€ì½”ë“œ')
train2['ssd'] = train2.groupby('ë‹¨ì§€ì½”ë“œ')['ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜'].sum()
train2['dif'] = train2.ì´ì„¸ëŒ€ìˆ˜ - train2.ssd
train2 = train2.reset_index()
train2.tail(3)

       ë‹¨ì§€ì½”ë“œ  ì´ì„¸ëŒ€ìˆ˜ ì„ëŒ€ê±´ë¬¼êµ¬ë¶„   ì§€ì—­  ê³µê¸‰ìœ í˜•   ì „ìš©ë©´ì   ...  ì§€í•˜ì²   ë²„ìŠ¤ ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜ ë“±ë¡ì°¨ëŸ‰ìˆ˜  ssd  dif
2866  C2532   239    ì•„íŒŒíŠ¸  ê°•ì›ë„  êµ­ë¯¼ì„ëŒ€  51.73  ...  0.0   1     166   146  239    0
2867  C2532   239    ì•„íŒŒíŠ¸  ê°•ì›ë„  êµ­ë¯¼ì„ëŒ€  51.96  ...  0.0   1     166   146  239    0
2868  C2532   239    ì•„íŒŒíŠ¸  ê°•ì›ë„  êµ­ë¯¼ì„ëŒ€  54.95  ...  0.0   1     166   146  239    0

[3 rows x 17 columns]

In [9]:
# ì´ì„¸ëŒ€ ìˆ˜ì™€ ì‹¤ì§ˆì„¸ëŒ€ìˆ˜ê°€ ë‹¤ë¥¸ ë‹¨ì§€ í™•ì¸ 
# ì‹¤ì§ˆì„¸ëŒ€ìˆ˜ ì°¨ì´
train2.groupby(train2.dif).ë‹¨ì§€ì½”ë“œ.unique()

dif
0      [C2515, C1407, C1945, C1470, C1898, C1244, C11...
1      [C1925, C1312, C2013, C1424, C2319, C1068, C26...
2                           [C2568, C2245, C2549, C1732]
3                    [C1850, C1695, C2556, C2298, C2433]
4                                                [C1910]
5                                         [C2139, C2508]
6                                         [C2225, C1156]
7                                                [C1584]
8                                         [C2142, C2186]
9                                                [C2362]
10                                               [C2520]
14                                               [C1970]
94                                               [C1490]
123                                              [C2620]
124                                              [C1344]
203                                              [C1024]
230                                              [C2470]
267                                              [C1206]
316                                       [C1740, C2405]
452                                              [C1804]
Name: ë‹¨ì§€ì½”ë“œ, dtype: object

In [10]:
# test2ë„ ë˜‘ê°™ì€ í”„ë¡œì„¸ìŠ¤
# ì§€í•˜ì²  ìˆ˜ NULLê°’ ì²˜ë¦¬: ëª¨ë‘ 0 (ì§ì ‘ ì‹¤ì œ ì•„íŒŒíŠ¸ì™€ ë¹„êµ)
test2.ì§€í•˜ì²  = test2.ì§€í•˜ì² .fillna(0)
test2.tail(3)

       ë‹¨ì§€ì½”ë“œ  ì´ì„¸ëŒ€ìˆ˜ ì„ëŒ€ê±´ë¬¼êµ¬ë¶„    ì§€ì—­  ê³µê¸‰ìœ í˜•  ...     ì„ëŒ€ë³´ì¦ê¸ˆ     ì„ëŒ€ë£Œ  ì§€í•˜ì²  ë²„ìŠ¤ ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜
1005  C2189   382    ì•„íŒŒíŠ¸  ì „ë¼ë¶ë„  êµ­ë¯¼ì„ëŒ€  ...   6872000  106400  0.0  2     300
1006  C2189   382    ì•„íŒŒíŠ¸  ì „ë¼ë¶ë„  êµ­ë¯¼ì„ëŒ€  ...  13410000  144600  0.0  2     300
1007  C2189   382    ì•„íŒŒíŠ¸  ì „ë¼ë¶ë„  êµ­ë¯¼ì„ëŒ€  ...  18689000  166500  0.0  2     300

[3 rows x 14 columns]

In [11]:
uni_all = test2.ë‹¨ì§€ì½”ë“œ.unique()  #uniqueí•œ ë‹¨ì§€ì½”ë“œë§Œ ì¶”ì¶œ
len(uni_all)

147

In [12]:
#ì‹¤ì§ˆì„¸ëŒ€ìˆ˜ ë³€ìˆ˜ ì¶”ê°€(ì´ ì„¸ëŒ€ìˆ˜ ì‚­ì œ ì•ˆí•¨, ì¶”í›„ ë¶ˆí•„ìš”í•  ì‹œ ì‚­ì œ)
test2 = test2.set_index('ë‹¨ì§€ì½”ë“œ')
test2['ssd'] = test2.groupby('ë‹¨ì§€ì½”ë“œ')['ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜'].sum()
test2['dif'] = test2.ì´ì„¸ëŒ€ìˆ˜ - test2.ssd
test2 = test2.reset_index()
test2.tail(3)

       ë‹¨ì§€ì½”ë“œ  ì´ì„¸ëŒ€ìˆ˜ ì„ëŒ€ê±´ë¬¼êµ¬ë¶„    ì§€ì—­  ê³µê¸‰ìœ í˜•   ì „ìš©ë©´ì   ...     ì„ëŒ€ë£Œ  ì§€í•˜ì²  ë²„ìŠ¤ ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜  ssd  dif
1005  C2189   382    ì•„íŒŒíŠ¸  ì „ë¼ë¶ë„  êµ­ë¯¼ì„ëŒ€  29.19  ...  106400  0.0  2     300  378    4
1006  C2189   382    ì•„íŒŒíŠ¸  ì „ë¼ë¶ë„  êµ­ë¯¼ì„ëŒ€  39.45  ...  144600  0.0  2     300  378    4
1007  C2189   382    ì•„íŒŒíŠ¸  ì „ë¼ë¶ë„  êµ­ë¯¼ì„ëŒ€  46.23  ...  166500  0.0  2     300  378    4

[3 rows x 16 columns]

In [13]:
# ì´ì„¸ëŒ€ ìˆ˜ì™€ ì‹¤ì§ˆì„¸ëŒ€ìˆ˜ê°€ ë‹¤ë¥¸ ë‹¨ì§€ í™•ì¸ 
# ì‹¤ì§ˆì„¸ëŒ€ìˆ˜ ì°¨ì´
test2.groupby(test2.dif).ë‹¨ì§€ì½”ë“œ.unique()

dif
0      [C1072, C1128, C1456, C1840, C1332, C1563, C17...
1                                                [C2411]
2                                                [C1683]
3                                  [C1229, C1414, C2456]
4                                         [C1038, C2189]
5                           [C1030, C1349, C1266, C1267]
8                                  [C1749, C2363, C2174]
9                                                [C2043]
12                                               [C1812]
14                                               [C2404]
122                                              [C2497]
Name: ë‹¨ì§€ì½”ë“œ, dtype: object

In [14]:
# ì„ëŒ€ê°€ ìˆëŠ” ì•„íŒŒíŠ¸ ë‹¨ì§€ ì°¾ê¸°
ì„ëŒ€ìƒê°€ = train2.loc[train2.ê³µê¸‰ìœ í˜• == "ì„ëŒ€ìƒê°€"]
ì„ëŒ€ë‹¨ì§€ì½”ë“œ = ì„ëŒ€ìƒê°€.ë‹¨ì§€ì½”ë“œ.unique()
ì„ëŒ€ìƒê°€ì•„íŒŒíŠ¸ = train2.loc[train2.ë‹¨ì§€ì½”ë“œ.isin(ì„ëŒ€ë‹¨ì§€ì½”ë“œ)]
ì„ëŒ€ìƒê°€ì•„íŒŒíŠ¸.head(3)

     ë‹¨ì§€ì½”ë“œ  ì´ì„¸ëŒ€ìˆ˜ ì„ëŒ€ê±´ë¬¼êµ¬ë¶„   ì§€ì—­  ê³µê¸‰ìœ í˜•   ì „ìš©ë©´ì   ...  ì§€í•˜ì²   ë²„ìŠ¤ ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜ ë“±ë¡ì°¨ëŸ‰ìˆ˜  ssd  dif
78  C1925   601    ì•„íŒŒíŠ¸  ê°•ì›ë„  ì˜êµ¬ì„ëŒ€  26.37  ...  0.0   4     117    75  600    1
79  C1925   601    ì•„íŒŒíŠ¸  ê°•ì›ë„  ì˜êµ¬ì„ëŒ€  31.32  ...  0.0   4     117    75  600    1
80  C1925   601     ìƒê°€  ê°•ì›ë„  ì„ëŒ€ìƒê°€  32.10  ...  0.0   4     117    75  600    1

[3 rows x 17 columns]

In [15]:
# ì„ëŒ€ìƒê°€ê°€ ìˆëŠ” ì•„íŒŒíŠ¸ ìœ í˜• í™•ì¸
ì„ëŒ€ìƒê°€ì•„íŒŒíŠ¸.groupby(ì„ëŒ€ìƒê°€ì•„íŒŒíŠ¸.ë‹¨ì§€ì½”ë“œ).ê³µê¸‰ìœ í˜•.unique() # 33ê°œ ë‹¨ì§€ì½”ë“œ

ë‹¨ì§€ì½”ë“œ
C1004               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1056               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1109               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1206               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1439               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1476               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1616               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1698               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1704               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1722    [ê³µê³µì„ëŒ€(50ë…„), ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1775               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1790               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1859               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1874               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1875               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1899               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1925               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1983    [ê³µê³µì„ëŒ€(50ë…„), ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2034               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2038               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2109               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2132               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2135               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2190               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2212               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2258               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2289               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2310               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2416               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2571               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2597               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2621               [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2644    [ê³µê³µì„ëŒ€(50ë…„), ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
Name: ê³µê¸‰ìœ í˜•, dtype: object

In [16]:
# ì„ëŒ€ìƒê°€ ê°¯ìˆ˜ ë³€ìˆ˜ ë§Œë“¤ê¸°
temp = ì„ëŒ€ìƒê°€ì•„íŒŒíŠ¸.groupby(ì„ëŒ€ìƒê°€ì•„íŒŒíŠ¸.ë‹¨ì§€ì½”ë“œ)
ë‹¨ì§€ë³„ì„ëŒ€ = temp.ê³µê¸‰ìœ í˜•.value_counts()[:,'ì„ëŒ€ìƒê°€']
ë‹¨ì§€ë³„ì„ëŒ€ = ë‹¨ì§€ë³„ì„ëŒ€.reset_index('ë‹¨ì§€ì½”ë“œ')
ë‹¨ì§€ë³„ì„ëŒ€.rename(columns = {"ê³µê¸‰ìœ í˜•" : "rent_mall"}, inplace = True)
ë‹¨ì§€ë³„ì„ëŒ€.head(3)

    ë‹¨ì§€ì½”ë“œ  rent_mall
0  C1004         17
1  C1056         10
2  C1109         20

In [17]:
train3 = pd.merge(train2, ë‹¨ì§€ë³„ì„ëŒ€, on='ë‹¨ì§€ì½”ë“œ',how='left') #ì„ëŒ€ìƒê°€ê°€ ìˆìœ¼ë©´ ë‹¨ì§€ë³„ì„ëŒ€ê°’ì„ ë„£ìŒ
train3.rent_mall[train3.rent_mall.isnull()] = 0 #ì„ëŒ€ìƒê°€ê°€ ì—†ìœ¼ë©´ 0 ë„£ìŒ.
train3.head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    ë‹¨ì§€ì½”ë“œ  ì´ì„¸ëŒ€ìˆ˜ ì„ëŒ€ê±´ë¬¼êµ¬ë¶„    ì§€ì—­  ê³µê¸‰ìœ í˜•  ...  ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜  ë“±ë¡ì°¨ëŸ‰ìˆ˜  ssd dif rent_mall
0  C2515   545    ì•„íŒŒíŠ¸  ê²½ìƒë‚¨ë„  êµ­ë¯¼ì„ëŒ€  ...      624    205  545   0       0.0
1  C2515   545    ì•„íŒŒíŠ¸  ê²½ìƒë‚¨ë„  êµ­ë¯¼ì„ëŒ€  ...      624    205  545   0       0.0
2  C2515   545    ì•„íŒŒíŠ¸  ê²½ìƒë‚¨ë„  êµ­ë¯¼ì„ëŒ€  ...      624    205  545   0       0.0

[3 rows x 18 columns]

In [18]:
# test ì ìš©
# ì„ëŒ€ê°€ ê°™ì´ ìˆëŠ”ì§€?
ì„ëŒ€ìƒê°€ = test2.loc[test2.ê³µê¸‰ìœ í˜• == "ì„ëŒ€ìƒê°€"]
ì„ëŒ€ë‹¨ì§€ì½”ë“œ = ì„ëŒ€ìƒê°€.ë‹¨ì§€ì½”ë“œ.unique()
ì„ëŒ€ìƒê°€ì•„íŒŒíŠ¸ = test2.loc[test2.ë‹¨ì§€ì½”ë“œ.isin(ì„ëŒ€ë‹¨ì§€ì½”ë“œ)]
ì„ëŒ€ìƒê°€ì•„íŒŒíŠ¸.head(3)

     ë‹¨ì§€ì½”ë“œ  ì´ì„¸ëŒ€ìˆ˜ ì„ëŒ€ê±´ë¬¼êµ¬ë¶„     ì§€ì—­  ê³µê¸‰ìœ í˜•   ì „ìš©ë©´ì   ...    ì„ëŒ€ë£Œ  ì§€í•˜ì²  ë²„ìŠ¤ ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜   ssd  dif
73  C1006  1505    ì•„íŒŒíŠ¸  ëŒ€ì „ê´‘ì—­ì‹œ  ì˜êµ¬ì„ëŒ€  26.37  ...  79980  2.0  5     428  1505    0
74  C1006  1505    ì•„íŒŒíŠ¸  ëŒ€ì „ê´‘ì—­ì‹œ  ì˜êµ¬ì„ëŒ€  26.37  ...  79980  2.0  5     428  1505    0
75  C1006  1505    ì•„íŒŒíŠ¸  ëŒ€ì „ê´‘ì—­ì‹œ  ì˜êµ¬ì„ëŒ€  26.37  ...  79980  2.0  5     428  1505    0

[3 rows x 16 columns]

In [19]:
# ì„ëŒ€ìƒê°€ê°€ ìˆëŠ” ì•„íŒŒíŠ¸ ìœ í˜• í™•ì¸
ì„ëŒ€ìƒê°€ì•„íŒŒíŠ¸.groupby(ì„ëŒ€ìƒê°€ì•„íŒŒíŠ¸.ë‹¨ì§€ì½”ë“œ).ê³µê¸‰ìœ í˜•.unique() # 7ê°œ ë‹¨ì§€ì½”ë“œ

ë‹¨ì§€ì½”ë“œ
C1006    [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1729    [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C1812    [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2033    [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2177    [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2253    [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
C2676    [ì˜êµ¬ì„ëŒ€, ì„ëŒ€ìƒê°€]
Name: ê³µê¸‰ìœ í˜•, dtype: object

In [20]:
# ì„ëŒ€ìƒê°€ ê°¯ìˆ˜ ë³€ìˆ˜ ë§Œë“¤ê¸°
temp = ì„ëŒ€ìƒê°€ì•„íŒŒíŠ¸.groupby(ì„ëŒ€ìƒê°€ì•„íŒŒíŠ¸.ë‹¨ì§€ì½”ë“œ)
ë‹¨ì§€ë³„ì„ëŒ€ = temp.ê³µê¸‰ìœ í˜•.value_counts()[:,'ì„ëŒ€ìƒê°€']
ë‹¨ì§€ë³„ì„ëŒ€ = ë‹¨ì§€ë³„ì„ëŒ€.reset_index('ë‹¨ì§€ì½”ë“œ')
ë‹¨ì§€ë³„ì„ëŒ€.rename(columns = {"ê³µê¸‰ìœ í˜•" : "rent_mall"}, inplace = True)
ë‹¨ì§€ë³„ì„ëŒ€.head(3)

    ë‹¨ì§€ì½”ë“œ  rent_mall
0  C1006         20
1  C1729         17
2  C1812         25

In [21]:
test3 = pd.merge(test2, ë‹¨ì§€ë³„ì„ëŒ€, on='ë‹¨ì§€ì½”ë“œ',how='left') #ì„ëŒ€ìƒê°€ê°€ ìˆìœ¼ë©´ ë‹¨ì§€ë³„ì„ëŒ€ê°’ì„ ë„£ìŒ
test3.rent_mall[test3.rent_mall.isnull()] = 0 #ì„ëŒ€ìƒê°€ê°€ ì—†ìœ¼ë©´ 0 ë„£ìŒ.
test3.head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    ë‹¨ì§€ì½”ë“œ  ì´ì„¸ëŒ€ìˆ˜ ì„ëŒ€ê±´ë¬¼êµ¬ë¶„   ì§€ì—­  ê³µê¸‰ìœ í˜•   ì „ìš©ë©´ì   ...  ì§€í•˜ì²   ë²„ìŠ¤ ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜  ssd dif  rent_mall
0  C1072   754    ì•„íŒŒíŠ¸  ê²½ê¸°ë„  êµ­ë¯¼ì„ëŒ€  39.79  ...  0.0   2     683  754   0        0.0
1  C1072   754    ì•„íŒŒíŠ¸  ê²½ê¸°ë„  êµ­ë¯¼ì„ëŒ€  46.81  ...  0.0   2     683  754   0        0.0
2  C1072   754    ì•„íŒŒíŠ¸  ê²½ê¸°ë„  êµ­ë¯¼ì„ëŒ€  46.90  ...  0.0   2     683  754   0        0.0

[3 rows x 17 columns]

In [22]:
# ì„ëŒ€ë£Œ ë¹ˆ ê³³ ë„£ê¸°
# train
# factorí˜•ìœ¼ë¡œ ê°’ ì¶”ê°€í•  ìˆ˜ ì—†ì–´ì„œ, characterí˜•ìœ¼ë¡œ ë³€í™˜
train3.loc[(train3.ë‹¨ì§€ì½”ë“œ == "C1326") & (train3.ì „ìš©ë©´ì  == 24.72),['ì„ëŒ€ë³´ì¦ê¸ˆ','ì„ëŒ€ë£Œ']] = [7287000,140530]
train3.loc[(train3.ë‹¨ì§€ì½”ë“œ == "C1326") & (train3.ì „ìš©ë©´ì  == 24.79),['ì„ëŒ€ë³´ì¦ê¸ˆ','ì„ëŒ€ë£Œ']] = [7287000,140530]
train3.loc[(train3.ë‹¨ì§€ì½”ë“œ == "C1326") & (train3.ì „ìš©ë©´ì  == 46.94),['ì„ëŒ€ë³´ì¦ê¸ˆ','ì„ëŒ€ë£Œ']] = [24047000,269610]
train3.loc[(train3.ë‹¨ì§€ì½”ë“œ == "C1326") & (train3.ì „ìš©ë©´ì  == 26.83),['ì„ëŒ€ë³´ì¦ê¸ˆ','ì„ëŒ€ë£Œ']] = [911000,147820]
train3.loc[(train3.ë‹¨ì§€ì½”ë“œ == "C1326") & (train3.ì „ìš©ë©´ì  == 37.7),['ì„ëŒ€ë³´ì¦ê¸ˆ','ì„ëŒ€ë£Œ']] = [15406000,206110]

train3.loc[(train3.ë‹¨ì§€ì½”ë“œ == "C1786") & (train3.ì „ìš©ë©´ì  == 16.91),['ì„ëŒ€ë³´ì¦ê¸ˆ','ì„ëŒ€ë£Œ']] = [13450000,65500]
train3.loc[(train3.ë‹¨ì§€ì½”ë“œ == "C1786") & (train3.ì „ìš©ë©´ì  == 26.9),['ì„ëŒ€ë³´ì¦ê¸ˆ']] = np.repeat(19820000,3)
train3.loc[(train3.ë‹¨ì§€ì½”ë“œ == "C1786") & (train3.ì „ìš©ë©´ì  == 26.9),['ì„ëŒ€ë£Œ']] = np.repeat(97000,3)

train3.loc[(train3.ë‹¨ì§€ì½”ë“œ == "C2186") & (train3.ì „ìš©ë©´ì  == 29.17),['ì„ëŒ€ë³´ì¦ê¸ˆ','ì„ëŒ€ë£Œ']] = [9692000,147880]
train3.loc[(train3.ë‹¨ì§€ì½”ë“œ == "C2186") & (train3.ì „ìš©ë©´ì  == 29.34),['ì„ëŒ€ë³´ì¦ê¸ˆ','ì„ëŒ€ë£Œ']] = [9692000,147880]
train3.loc[(train3.ë‹¨ì§€ì½”ë“œ == "C2186") & (train3.ì „ìš©ë©´ì  == 37.43),['ì„ëŒ€ë³´ì¦ê¸ˆ','ì„ëŒ€ë£Œ']] = [18319000,210240]

In [23]:
train3.ì„ëŒ€ë£Œ = train3.ì„ëŒ€ë£Œ.replace('-', np.NaN) # '-'ë¥¼ NaNìœ¼ë¡œ ë³€ê²½í•´ì•¼ floatí˜•ìœ¼ë¡œ ë³€ê²½ ê°€ëŠ¥

In [24]:
# í˜•ë³€í™˜
train3 = train3.astype({'ì„ëŒ€ë³´ì¦ê¸ˆ' : np.float,
                        'ì„ëŒ€ë£Œ' : np.float})

In [25]:
# ê²°ì¸¡ê°’ ìˆëŠ”ì§€ double check
print(pd.isnull(train3.ì„ëŒ€ë³´ì¦ê¸ˆ).sum())
print(pd.isnull(train3.ì„ëŒ€ë£Œ).sum())
### NULLê°’ ì¡´ì¬í•¨

569
572

In [26]:
# test
test3.loc[(test3.ë‹¨ì§€ì½”ë“œ == "C1267") & (test3.ì „ìš©ë©´ì  == 16.94),['ì„ëŒ€ë³´ì¦ê¸ˆ','ì„ëŒ€ë£Œ']] = [11200000,53200]
test3.loc[(test3.ë‹¨ì§€ì½”ë“œ == "C1267") & (test3.ì „ìš©ë©´ì  == 26.85),['ì„ëŒ€ë³´ì¦ê¸ˆ']] = [16333333,18620000]
test3.loc[(test3.ë‹¨ì§€ì½”ë“œ == "C1267") & (test3.ì „ìš©ë©´ì  == 26.85),['ì„ëŒ€ë£Œ']] = [77580,88440]
test3.loc[(test3.ë‹¨ì§€ì½”ë“œ == "C1267") & (test3.ì „ìš©ë©´ì  == 36.77),['ì„ëŒ€ë³´ì¦ê¸ˆ','ì„ëŒ€ë£Œ']] = [23760000,112860]

test3.loc[(test3.ë‹¨ì§€ì½”ë“œ == "C1006") & (test3.ì „ìš©ë©´ì  == 52.74),['ì„ëŒ€ë³´ì¦ê¸ˆ','ì„ëŒ€ë£Œ']] = [5000000,99520]

test3.loc[(test3.ë‹¨ì§€ì½”ë“œ == "C2152") & (test3.ì „ìš©ë©´ì  == 24.83),['ì„ëŒ€ë³´ì¦ê¸ˆ','ì„ëŒ€ë£Œ']] = [2129000,42350]
test3.loc[(test3.ë‹¨ì§€ì½”ë“œ == "C2152") & (test3.ì „ìš©ë©´ì  == 33.84),['ì„ëŒ€ë³´ì¦ê¸ˆ','ì„ëŒ€ë£Œ']] = [2902000,57730]

In [27]:
# í˜•ë³€í™˜
test3 = test3.astype({'ì„ëŒ€ë³´ì¦ê¸ˆ' : np.float,
                        'ì„ëŒ€ë£Œ' : np.float})

In [28]:
# ê²°ì¸¡ê°’ ìˆëŠ”ì§€ double check
print(pd.isnull(test3.ì„ëŒ€ë³´ì¦ê¸ˆ).sum())
print(pd.isnull(test3.ì„ëŒ€ë£Œ).sum())
### NULLê°’ ì¡´ì¬í•¨

179
179

In [29]:
#ì„ëŒ€ ìƒê°€, ì¥ê¸°ì „ì„¸, ê³µê³µë¶„ì–‘ row ë¹¼ê¸°
# train
ì‚­ì œ = ['ì¥ê¸°ì „ì„¸', 'ì„ëŒ€ìƒê°€','ê³µê³µë¶„ì–‘']
train3_1 = train3.loc[-train3.ê³µê¸‰ìœ í˜•.isin(ì‚­ì œ)]
# ì œëŒ€ë¡œ ì œê±°ë˜ì—ˆëŠ”ì§€ í™•ì¸
train3_1.ê³µê¸‰ìœ í˜•.unique()

array(['êµ­ë¯¼ì„ëŒ€', 'ê³µê³µì„ëŒ€(50ë…„)', 'ì˜êµ¬ì„ëŒ€', 'ê³µê³µì„ëŒ€(10ë…„)', 'ê³µê³µì„ëŒ€(ë¶„ë‚©)', 'í–‰ë³µì£¼íƒ',
       'ê³µê³µì„ëŒ€(5ë…„)'], dtype=object)

In [30]:
# test
ì‚­ì œ = ['ì¥ê¸°ì „ì„¸', 'ì„ëŒ€ìƒê°€','ê³µê³µë¶„ì–‘']
test3_1 = test3.loc[-test3.ê³µê¸‰ìœ í˜•.isin(ì‚­ì œ)]
# ì œëŒ€ë¡œ ì œê±°ë˜ì—ˆëŠ”ì§€ í™•ì¸
test3_1.ê³µê¸‰ìœ í˜•.unique()

array(['êµ­ë¯¼ì„ëŒ€', 'ì˜êµ¬ì„ëŒ€', 'ê³µê³µì„ëŒ€(50ë…„)', 'ê³µê³µì„ëŒ€(10ë…„)', 'ê³µê³µì„ëŒ€(ë¶„ë‚©)', 'í–‰ë³µì£¼íƒ'],
      dtype=object)

In [31]:
train3_1 = train3_1.drop('dif', axis=1)
test3_1 = test3_1.drop('dif', axis=1)

In [32]:
real_train = pd.read_csv('train3_1.csv',encoding='cp949')
real_test = pd.read_csv('test3_1.csv',encoding='cp949')
real_train.rename(columns = {'ë„ë³´.10ë¶„ê±°ë¦¬.ë‚´.ì§€í•˜ì² ì—­.ìˆ˜.í™˜ìŠ¹ë…¸ì„ .ìˆ˜.ë°˜ì˜.' : 'ì§€í•˜ì² ',"ë„ë³´.10ë¶„ê±°ë¦¬.ë‚´.ë²„ìŠ¤ì •ë¥˜ì¥.ìˆ˜" : "ë²„ìŠ¤"}, inplace = True)
real_test.rename(columns = {'ë„ë³´.10ë¶„ê±°ë¦¬.ë‚´.ì§€í•˜ì² ì—­.ìˆ˜.í™˜ìŠ¹ë…¸ì„ .ìˆ˜.ë°˜ì˜.' : 'ì§€í•˜ì² ',"ë„ë³´.10ë¶„ê±°ë¦¬.ë‚´.ë²„ìŠ¤ì •ë¥˜ì¥.ìˆ˜" : "ë²„ìŠ¤"}, inplace = True)

real_test.tail(3)

      ë‹¨ì§€ì½”ë“œ  ì´ì„¸ëŒ€ìˆ˜ ì„ëŒ€ê±´ë¬¼êµ¬ë¶„    ì§€ì—­  ê³µê¸‰ìœ í˜•  ...  ì§€í•˜ì²   ë²„ìŠ¤  ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜  ssd  rent_mall
828  C2189   382    ì•„íŒŒíŠ¸  ì „ë¼ë¶ë„  êµ­ë¯¼ì„ëŒ€  ...    0   2      300  378          0
829  C2189   382    ì•„íŒŒíŠ¸  ì „ë¼ë¶ë„  êµ­ë¯¼ì„ëŒ€  ...    0   2      300  378          0
830  C2189   382    ì•„íŒŒíŠ¸  ì „ë¼ë¶ë„  êµ­ë¯¼ì„ëŒ€  ...    0   2      300  378          0

[3 rows x 16 columns]

In [33]:
# test3_1.to_csv('py_test3.csv',header=True, index=False, encoding='utf-8-sig')
# train3_1.to_csv('py_train3.csv',header=True, index=False, encoding='utf-8-sig')

In [34]:
print(pd.isnull(test3_1.ì„ëŒ€ë³´ì¦ê¸ˆ).sum())
print(pd.isnull(real_test.ì„ëŒ€ë³´ì¦ê¸ˆ).sum())
print(pd.isnull(train3_1.ì„ëŒ€ë³´ì¦ê¸ˆ).sum())
print(pd.isnull(real_train.ì„ëŒ€ë³´ì¦ê¸ˆ).sum())

print(pd.isnull(test3_1.ì„ëŒ€ë£Œ).sum())
print(pd.isnull(real_test.ì„ëŒ€ë£Œ).sum())
print(pd.isnull(train3_1.ì„ëŒ€ë£Œ).sum())
print(pd.isnull(real_train.ì„ëŒ€ë£Œ).sum())

2
2
0
0
2
2
0
0

In [35]:
# íŒŒì´ì¬ìœ¼ë¡œ ë§Œë“  ë°ì´í„°ì…‹ê³¼ ì†Œë‹´ì“° ë°ì´í„°ì…‹ì´ ë™ì¼í•œì§€ ë¹„êµ (ê²°ê³¼ë¡œ ì•„ë¬´ê²ƒë„ ì•ˆ ë‚˜ì˜¤ë©´ ë™ì¼í•œ ê²ƒì„.)
df = pd.concat([real_train,train3_1])
df = df.reset_index(drop=True)
df_gpby = df.groupby(list(df.columns)) # ê·¸ë£¹í™”
idx = [x[0] for x in df_gpby.groups.values() if len(x) == 1] # ê³ ìœ  ë ˆì½”ë“œ ìƒ‰ì¸ì„ ì–»ìŒ
df.reindex(idx) #í•„í„°

Empty DataFrame
Columns: [ë‹¨ì§€ì½”ë“œ, ì´ì„¸ëŒ€ìˆ˜, ì„ëŒ€ê±´ë¬¼êµ¬ë¶„, ì§€ì—­, ê³µê¸‰ìœ í˜•, ì „ìš©ë©´ì , ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜, ê³µê°€ìˆ˜, ìê²©ìœ í˜•, ì„ëŒ€ë³´ì¦ê¸ˆ, ì„ëŒ€ë£Œ, ì§€í•˜ì² , ë²„ìŠ¤, ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜, ë“±ë¡ì°¨ëŸ‰ìˆ˜, ssd, rent_mall]
Index: []

In [ ]:
# íŒŒì´ì¬ìœ¼ë¡œ ë§Œë“  ë°ì´í„°ì…‹ê³¼ ì†Œë‹´ì“° ë°ì´í„°ì…‹ì´ ë™ì¼í•œì§€ ë¹„êµ (ê²°ê³¼ë¡œ ì•„ë¬´ê²ƒë„ ì•ˆ ë‚˜ì˜¤ë©´ ë™ì¼í•œ ê²ƒì„.)
# ë™ì¼í•´ë³´ì´ëŠ”ë°... ë­ê°€ ë¬¸ì œì¼ê¹Œ...ã…
df = pd.concat([test3_1,real_test])
df = df.reset_index(drop=True)
df_gpby = df.groupby(list(df.columns)) # ê·¸ë£¹í™”
idx = [x[0] for x in df_gpby.groups.values() if len(x) == 1] # ê³ ìœ  ë ˆì½”ë“œ ìƒ‰ì¸ì„ ì–»ìŒ
df.reindex(idx) #í•„í„°

* train_code_u : ê³µê¸‰ìœ í˜•ë³„, ë‹¨ì§€ì½”ë“œë³„ group by í•œ ë°ì´í„°
(ê°€ë ¹ C1000ì— êµ­ë¯¼ì„ëŒ€ì™€ ì˜êµ¬ì„ëŒ€ê°€ ìˆì„ê²½ìš°,
C1000-1 & êµ­ë¯¼ì„ëŒ€
C1000-2 & ì˜êµ¬ì„ëŒ€ 
ë¡œ ë‚˜ëˆ”)
* train_code : ë‹¨ì§€ì½”ë“œë³„ë¡œ group by í•œ ë°ì´í„°
(ì•ì„  C1000ì˜ ê²½ìš° ê³µê¸‰ìœ í˜•ì— ìƒê´€ì—†ì´ ì „ì²´ ì„ëŒ€ë£Œ/ì„¸ëŒ€ìˆ˜ ë“±ì˜ í‰ê· ê°’ìœ¼ë¡œ ë“¤ì–´ê°€ê³ , êµ­ë¯¼ì„ëŒ€/ì˜êµ¬ì„ëŒ€ ë¡œ í•¨ê»˜ ì‘ì„±ë˜ëŠ” ìƒˆ ë²”ì£¼ ìƒì„±)

* train_code_no: ê³µê¸‰ìœ í˜•ì„ ì‚­ì œí•˜ê³  ë‹¨ì§€ì½”ë“œë³„ë¡œ group by í•œ ë°ì´í„°

In [62]:
train_code_u = pd.read_csv("train_code_u.csv", encoding="cp949")
test_code_u = pd.read_csv("test_code_u.csv", encoding="cp949")

In [44]:
train_code = pd.read_csv("train_code.csv", encoding="cp949")
test_code = pd.read_csv("test_code.csv", encoding="cp949")

In [47]:
train_code_no = pd.read_csv("train_code_no.csv", encoding="cp949")
test_code_no = pd.read_csv("test_code_no.csv", encoding="cp949")

Catboost ëª¨ë¸ë§

In [ ]:
# !pip install catboost

In [48]:
from catboost import CatBoostRegressor

In [50]:
cat_features = ['ê³µê¸‰ìœ í˜•','gubun','area']  #ë²”ì£¼í˜• ë³€ìˆ˜
target_col = 'Y' # Y ë³€ìˆ˜

catboost ëª¨ë¸ ì í•©  
https://2econsulting.github.io/catboost/2018/06/16/catboostSimpleVersion.html  
íŠ¹íˆ CatBoostì˜ full nameì€ Categorical Boostìœ¼ë¡œ ë²”ì£¼í˜• ë³€ìˆ˜ê°€ ë§ì€ ë°ì´í„°ì…‹ì—ì„œ ì˜ˆì¸¡ ì„±ëŠ¥ì´ ìš°ìˆ˜

In [59]:
cat_model = CatBoostRegressor(
         cat_features=cat_features,
         loss_function='MAE',
         n_estimators=500, 
         learning_rate=0.1, 
         random_state=3978
    )
    
cat_model.fit(train_code_u.drop(columns=[target_col,'NEW_ID']), train_code_u[target_col], 
              verbose=100)

0:	learn: 268.4713623	total: 4.12ms	remaining: 2.05s
100:	learn: 63.9736049	total: 361ms	remaining: 1.42s
200:	learn: 42.8627857	total: 699ms	remaining: 1.04s
300:	learn: 33.7069623	total: 1.05s	remaining: 696ms
400:	learn: 28.1615521	total: 1.4s	remaining: 344ms
499:	learn: 25.1079565	total: 1.75s	remaining: 0us

In [40]:
sample_submission = pd.read_csv('sample_submission.csv')
sample_submission.head()

    code  num
0  C1072    0
1  C1128    0
2  C1456    0
3  C1840    0
4  C1332    0

In [69]:
## catboostëª¨ë¸ ì˜ˆì¸¡ê°’
result1 = cat_model.predict(test_code_u.drop(columns=['NEW_ID']))

In [80]:
cat_result1 = pd.DataFrame(test_code_u.loc[:,'NEW_ID'])
cat_result1['num'] = result1
cat_result1.head(3)

    NEW_ID         num
0  C1003_1  254.153142
1  C1006_1  342.310001
2  C1016_1  670.763803

In [89]:
## ì—¬ëŸ¬í–‰ì˜ ì •ë³´ê°€ ë‹´ê²¨ì ¸ ìˆëŠ” ë‹¨ì§€ì½”ë“œ ì •ë³´ ì¶”ì¶œ
def sub_code(x):
   return x[:5]   # NEW_IDì—ì„œ ë‹¨ì§€ì½”ë“œ 5ê¸€ìë§Œ ì¶”ì¶œ

ë‹¨ì§€ì½”ë“œë§Œ = cat_result1.NEW_ID.apply(sub_code)
ì—¬ëŸ¬ë‹¨ì§€ì½”ë“œ = ë‹¨ì§€ì½”ë“œë§Œ[ë‹¨ì§€ì½”ë“œë§Œ.duplicated()].unique()
ì—¬ëŸ¬ë‹¨ì§€ì½”ë“œ
cat_result1['code'] = ë‹¨ì§€ì½”ë“œë§Œ

array(['C1147', 'C1267', 'C1849', 'C2091', 'C2113', 'C2131', 'C2430',
       'C2688'], dtype=object)

In [ ]:
## ì—¬ëŸ¬í–‰ì˜ ì •ë³´ê°€ ë‹´ê²¨ì ¸ ìˆëŠ” ë‹¨ì§€ì½”ë“œì˜ ê²°ê³¼ëŠ” MEANê°’ìœ¼ë¡œ ë„£ì–´ì¤Œ.
temp = cat_result1.loc[ë‹¨ì§€ì½”ë“œë§Œ.isin(ì—¬ëŸ¬ë‹¨ì§€ì½”ë“œ)]
temp['code'] = ë‹¨ì§€ì½”ë“œë§Œ
temp2 = temp.num.groupby(temp.code).mean()
temp3 = pd.DataFrame(temp2).reset_index()

In [163]:
## cat_boostì˜ ê²°ê³¼ê°’ + ìœ„ì—ì„œ ë§Œë“  í‰ê· ê°’(temp3) = 147ê°œì´ë¯€ë¡œ
## submissionì— 147ê°œì˜ ê²°ê³¼ë¥¼ left_join ì‹œì¼œì„œ ìµœì¢… ì œì¶œê²°ê³¼ê°’ cat_result5ë¥¼ ë§Œë“¦.
cat_result2 = cat_result1[['code','num']]
cat_result3 = cat_result2.loc[-cat_result2.code.isin(ì—¬ëŸ¬ë‹¨ì§€ì½”ë“œ)]
cat_result4 = pd.concat([cat_result3, temp3])
cat_result5 = pd.merge(submission, cat_result4, on='code',how='left')
cat_result5.drop('num_x',axis=1, inplace=True)
cat_result5.rename(columns={'num_y':'num'}, inplace=True)
cat_result5.head(3)

    code          num
0  C1072   813.540274
1  C1128  1241.575843
2  C1456   521.333601

In [151]:
cat_result5.to_csv('cat_result1.csv',index=False,encoding='cp949')